[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ext/aelib"]
	path = ext/aelib
	url = git@github.com:minusbrain/aelib.git
[submodule "ext/cmake"]
	path = ext/cmake
	url = https://github.com/bilke/cmake-modules.git
